@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-Poppins;
  }
  .input {
    @apply w-full h-[60px] p-[30px] bg-purpple bg-opacity-30 text-purpple placeholder-purpple rounded;
  }

  .text.form {
    @apply flex items-center justify-center rounded  font-medium text-base text-dark dark:text-light;
  }

  .tooglePassword {
    @apply absolute text-purpple font-bold opacity-100 mr-[30px];
  }
  .ErrorMessage {
    @apply text-red font-medium text-sm mt-2;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: rgba(167, 163, 255, 0.3) !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #a7a3ff !important;
}
